*
{
	box-sizing: border-box;
}
html
{
	scroll-behavior: smooth;
}
a 
{
	text-decoration: none;
}

body
{
	background-image: url("fundo2.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-color: #3e09de;
	background-size: contain;
	background-position: center;
	color: #3e09de;
	text-shadow: -1px -1px 0px #FFFFFF, -1px 1px 0px #FFF, 1px -1px 0px #FFFFFF 1px 0px 0px #FFFFFF;
}

header
{
	visibility:hidden;
	width: 0px;
	height: 0px;
}
#menu-lateral 
{
	width:0%; /*largura inicial padrão da barra lateral, fica invisivel*/
	overflow-x: hidden; /*inicialmente escondido */
	position:fixed;
	text-align:left;
	top:0%;
	left:0%;
	background-color:#3e09de;
	border-radius:10px;
	transition:0.5s;
	padding-top:10px; /* para qualquer configuração de tela espaço superior fixo */
}
#menu-lateral li a
  {
	text-decoration:none;
	font-size: 2.5vw;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #ffffff;
  }
#menu-lateral li a:hover 
{
	transition-duration:0.2s;
	transition-delay:0.1s;
	transition-timing-function:ease;
	transition-property:all;
	border-radius:10px;
	color:rgb(255, 255, 255);
	text-shadow: 2px 2px 3px #ff8000;
}
#menu-lateral ul
{
	list-style:none;
	margin-left:10%;
	padding-left: 0%;
}
#botao-hamburg
{
	visibility: visible;
	position: fixed;
	font-size:6vw;
	cursor:pointer;
	visibility:visible;
	color: #ffffff;
	top:1vw;
	right:1vw;
}


.closebtn 
{
	margin-left:0%;
	width: 100%;
}

#games
{
	padding-bottom:3vw;
}
section img
{
	width: 50%;
	height: 30%;
	margin-bottom: 2vw;
	margin-left: 25%;
}
section
{
	border-color:#ffffff;
	border-width:3px;
	border-style:solid;
	border-radius:50px;
	padding:3vw;
	margin-top:3vw;
	margin-left:5%;
	width:90%;
	font-family:OCR A Std, monospace;
	box-shadow: 1px 1px 0px #3e09de, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
}


section a h1
{
	text-align: center;
	font-size: 5vw;
	color: #3e09de;
	text-shadow: -1px -1px 0px #FFF, -1px 1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px #FFF;
	cursor: pointer;
	margin-top: 2vw;
}

h1:hover
{
	color:#FFFFFF;
	text-shadow: -1px -1px 0px #3e09de, -1px 1px 0px #3e09de, 1px -1px 0px #3e09de, 1px 0px 0px #3e09de;
	transition: 0.2s;
}

h2
{
	text-align: center;
	color: white;
	font-size: 4vw;
	padding-top: 0.5vw;
	margin: 0;
}

p
{
	text-align: center;
	font-size: 3vw;
	color: #3e09de;
	text-shadow: -1px -1px 0px #FFF, -1px 1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px #FFF;
}

h4
{
	text-align: justify;
	font-size:3vw;
	color: white;
	margin-bottom: 3.5vw;
}
#gta5
{
	background:linear-gradient(to left,rgba(53, 173, 23, 0.9),rgba(39, 135, 15, 0.9),rgba(36, 99, 20, 0.9),rgba(39, 135, 15, 0.9),rgba(53, 173, 23, 0.9)); 
}

#godofwar
{
	background:radial-gradient(rgba(201, 161, 50, 0.9),rgba(184, 123, 37, 0.9),rgba(166, 35, 12, 0.9)); 
}

#fortnite
{
	background:linear-gradient(to top,rgba(148, 12, 179, 0.9),rgba(168, 49, 158, 0.9),rgba(194, 124, 230, 0.9),rgba(168, 49, 158, 0.9),rgba(148, 12, 179, 0.9)); 
}
#minecraft
{
	background:linear-gradient(to bottom,rgba(19, 100, 35, 0.9),rgba(138, 82, 37, 0.9),rgba(138, 82, 37, 0.9),rgba(163, 104, 57, 0.9));
}
#destiny
{
	background:radial-gradient(rgba(80, 80, 80, 0.9),rgba(50, 50, 50, 0.9),rgba(80, 80, 80, 0.9),rgba(50, 50, 50, 0.9));
}
#tlou
{
	background:radial-gradient(rgb(80, 80, 80, 0.9),rgb(50, 50, 50, 0.9),rgb(20, 20, 20, 0.9)); 
}

footer
{
	background-color:rgba(255,128,0,0.7);
	text-align:center;
	font-family:OCR A Std, monospace;
	width:100%;
	padding: 0px;
	border-style:solid;
	border-width:2px;
	border-radius: 50px;
	box-shadow: 1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
}

footer h3
{
	font-size: 4.2vw;
	margin-top:5px;	
	margin-bottom: 10px;
	color: #ffffff;
	text-shadow: -1px -1px 0px #3e09de, -1px 1px 0px #3e09de, 1px -1px 0px #3e09de, 1px 0px 0px #3e09de;
}

#rodape h5
{
	margin-top:0.5vw;
	font-size: 3.5vw;
	color: #3e09de;
	text-shadow: -1px -1px 0px #FFF, -1px 1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px #FFF;
}

#rodape img
{
	width: 5vw;
	height: 5vw;
	box-shadow: 2px 2px 3px #FFFFFF;
}

#rodape ul
{
	padding: 0;
}

#rodape li
{
	list-style:none;
	display:inline-flex;
	vertical-align : middle;
	text-align:center;
	margin: 1vw 2vw;
	height:5vw;
}

#botao
{
	position: fixed;
	bottom: 8vw;
	width: 6vw;
	right: 1vw;
	font-size:5vw;
	text-align: center;
	cursor: pointer;
	border-radius: 30px;
	background-color:rgba(255, 128, 0, 0.7);
	color:#ffffff;
	border: 3px double #ffffff;
	border-bottom:2px double #3e09de;
	border-right:2px double #3e09de;
	text-shadow: -1px -1px 0px #3e09de, -1px 1px 0px #3e09de, 1px -1px 0px #3e09de, 1px 0px 0px #3e09de;
}

#botao:hover
{
	color: #3e09de;
	border: 3px double #3e09de;
	border-bottom:2px double #ffffff;
	border-right:2px double #ffffff;
	text-shadow: -1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px -1px 0px #ffffff, 1px 0px 0px #ffffff;
	transition: 0.2s;
}

@media only screen and (min-width:700px)

{
#botao-hamburg
{
	visibility:hidden;
}

header
{
	visibility:visible;
	background-color:rgba(255,128,0,0.7);
	width:89%;
	height: 5vw;
	padding-right:2vw; 
	padding-left:2vw; 
	margin-left: 5.5%;
	top:0px;
	left:0px;
	position:fixed;
	text-align:center;
	border-radius: 20px;
	border:2px solid;
	box-shadow: 1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
}

header ul
{
	width:100%;
	padding: 0;
	padding-top: 0.1vw;
	margin: 0;
}
header li
{
	list-style:none;
	display:inline-flex;
	margin: 1vw;
}

header li a h5
{
	margin: 0px;
	color: #3e09de;
	text-shadow: -1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px -1px 0px #ffffff, 1px 0px 0px #ffffff;
	cursor: pointer;
	font-family:Impact, fantasy;
	font-size: 1.8vw;
}
header li a h5:hover
{
	margin: 0px;
	color: #ffffff;
	text-shadow: -1px -1px 0px #3e09de, -1px 1px 0px #3e09de, 1px -1px 0px #3e09de, 1px 0px 0px #3e09de;
}

#games
{
	padding-top: 4%;
}

section
{
	border-color:#3e09de;
	border-width:3px;
	border-style:solid;
	border-radius:50px;
	padding-left:2vw;
	padding-right:2vw;
	margin-top:3vw;
	margin-left:5%;
	width:90%;
	font-family:OCR A Std, monospace;
	box-shadow: 1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
}
section img
{
	float: right;
	width: 25%;
	right: 0;
	top: 0;
	padding:0;
	margin: 0 5% 0 0;
}

section a h1
{
	text-align: left;
	font-size: 3vw;
	width:60%;
	margin:2vw 0 0 0;
	padding: 0;
}

h2
{
	text-align: left;
	font-size: 2.2vw;
	width:60%;
	margin:1vw 0;
	padding: 0;
}

p
{
	text-align: left;
	font-size: 2.2vw;
	width:60%;
	margin:0;
	padding: 0;
}

h4
{
	text-align: justify;
	font-size:1.6vw;
	width:60%;
	color: white;
	margin-bottom:2vw 0 0 0;
	padding: 0;
}

footer
{
	background-color:rgba(255,128,0,0.7);
	text-align:center;
	font-family:OCR A Std, monospace;
	width:90%;
	margin-left: 5%;
	padding: 0px;
	border-style:solid;
	border-width:2px;
	border-radius: 50px;
	box-shadow: 1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 1px -1px 0px #FFFFFF, -1px 1px 0px #FFFFFF;
}

footer h3
{
	font-size: 2.7vw;
	margin-top:0.2vw;	
	margin-bottom: 0.5vw;
	color: #ffffff;
	text-shadow: -1px -1px 0px #3e09de, -1px 1px 0px #3e09de, 1px -1px 0px #3e09de, 1px 0px 0px #3e09de;
}

#rodape h5
{
	margin-top:0.2vw;
	font-size: 2.5vw;
	color: #3e09de;
	text-shadow: -1px -1px 0px #FFF, -1px 1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px #FFF;
}

#rodape img
{
	width: 2.5vw;
	height: 2.5vw;
	box-shadow: 2px 2px 3px #FFFFFF;
}

#rodape ul
{
	padding: 0;
}

#rodape li
{
	list-style:none;
	display:inline-flex;
	vertical-align : middle;
	text-align:center;
	margin: 1vw 2vw;
	height:2vw;
}

#botao
{
	position: fixed;
	bottom: 5vw;
	width: 3.5vw;
	right: 1vw;
	font-size:2.5vw;
	text-align: center;
	cursor: pointer;
	border-radius: 30px;
	background-color:rgba(255, 128, 0, 0.7);
	color:#ffffff;
	border: 3px double #ffffff;
	border-bottom:2px double #3e09de;
	border-right:2px double #3e09de;
	text-shadow: -1px -1px 0px #3e09de, -1px 1px 0px #3e09de, 1px -1px 0px #3e09de, 1px 0px 0px #3e09de;
}

#botao:hover
{
	color: #3e09de;
	border: 3px double #3e09de;
	border-bottom:2px double #ffffff;
	border-right:2px double #ffffff;
	text-shadow: -1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px -1px 0px #ffffff, 1px 0px 0px #ffffff;
	transition: 0.2s;
}

}
